@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: classico;
  src: url(./fonts/classico-bold-webfont.woff);
}

@font-face {
  font-family: decorya;
  src: url(./fonts/Decorya-Regular.woff);
}

@font-face {
  font-family: carqu;
  src: url(./fonts/carqu.otf) format(opentype);
}

@font-face {
  font-family: grayson;
  src: url(./fonts/Grayson.woff);
}

.text-classico {
  font-family: classico;
}

.text-decorya {
  font-family: decorya;
}

.text-carqu {
  font-family: carqu;
}

.text-grayson {
  font-family: grayson;
}


.one-by-one-text-animation{
  display: inline;
}